@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tab-content {
  margin-top: 20px;
}

.tab-content p,
.tab-content img,
.tab-content blockquote,
.tab-content hr {
  margin: 10px 0;
}

.tab-content blockquote {
  border-left: 4px solid #ddd;
  padding-left: 16px;
  color: #666;
}

.tab-content img {
  max-width: 100%;
  height: auto;
}
